---
import Icon from 'astro-icon';

export interface Props {
  project: {
    homepage: string;
    image: string;
    name: string;
    description: string;
    tags?: string[];
  };
}

const { homepage, image, name, description, tags } = Astro.props.project;
---

<div
  class="rounded-lg shadow-lg h-full max-w-full bg-opacity-80 backdrop-filter backdrop-blur-lg border border-white"
>
  <a href={homepage}>
    <img
      class="rounded-t-lg w-full h-fit bg-[#191919] object-contain border-b border-white"
      src={image}
      alt={`${name}'s logo`}
    />
  </a>

  <div class="p-6 text-white rounded-b-lg">
    <div>
      <div class="flex justify-between">
        <h2 class="font-bold text-xl">{name}</h2>
        <a
          href={homepage}
          target="_blank"
          aria-label="Open homepage"
          class="hover:bg-gray-400 h-8 w-8 flex items-center justify-center rounded-lg"
        >
          <Icon name="akar-icons:link-out" class="h-4 w-4" />
        </a>
      </div>
      <p>{description}</p>
    </div>
    <div class="flex justify-start mt-4 dark:bg-lime-500">
      <div class="flex max-w-[50px] gap-2 flex-wrap">
        {tags?.map((tag) => <div class="text-xs text-orange-500">#{tag}</div>)}
      </div>
    </div>
  </div>
</div>
