---
import Icon from "astro-icon";

export interface Props {
  project: {
    homepage: string;
    image: string;
    name: string;
    description: string;
    tags?: string[];
  };
}

const { homepage, image, name, description, tags } = Astro.props.project;
---

<div
  class="h-full max-w-full rounded-lg border border-white bg-opacity-80 shadow-lg backdrop-blur-lg backdrop-filter"
>
  <a href={homepage}>
    <img
      class="h-fit w-full rounded-t-lg border-b border-white bg-[#191919] object-contain"
      src={image}
      alt={`${name}'s logo`}
    />
  </a>

  <div class="rounded-b-lg p-6 text-white">
    <div>
      <div class="flex justify-between">
        <h2 class="text-xl font-bold">{name}</h2>
        <a
          href={homepage}
          target="_blank"
          aria-label="Open homepage"
          class="flex h-8 w-8 items-center justify-center rounded-lg hover:bg-gray-400"
        >
          <Icon name="akar-icons:link-out" class="h-4 w-4" />
        </a>
      </div>
      <p>{description}</p>
    </div>
    <div class="mt-4 flex justify-start">
      <div class="flex max-w-[50px] flex-wrap gap-2">
        {tags?.map((tag) => <div class="text-xs text-orange-500">#{tag}</div>)}
      </div>
    </div>
  </div>
</div>
