---
import { CollectionEntry, getCollection } from "astro:content";
import LastFMWidget from "../components/LastFMWidget.svelte";
import ProjectCard from "../components/ProjectCard.astro";
import Socials from "../components/Socials.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { LastFMClient } from "../lib/LastFM.client";
import "../styles/global.css";

const dprojects = await getCollection("projects", ({ data }) => {
  return data.draft !== true;
});

const projects: CollectionEntry<"projects">[] = Array(3).fill(dprojects[0]);
const lastfm = new LastFMClient(import.meta.env.LASTFM_API_KEY || "", "midkaa");
const lastFMData = {
  track: (await lastfm.getRecentTracks(1)).tracks[0],
  user: "midkaa",
};
---

<BaseLayout class="main grid text-primary">
  <section class="lastfm">
    <LastFMWidget data={lastFMData} />
  </section>
  <section class="about noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">Hi! I'm Midka</div>
  </section>
  <section class="something noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">Something</div>
  </section>
  <section class="socials noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">
      <Socials />
    </div>
  </section>
  <section class="project1 noise-container">
    <div class="noise"></div>
    <div class="noise-underlay"><ProjectCard project={projects[0]} /></div>
  </section>
  <section class="project2 noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">Project 2</div>
  </section>
  <section class="project3 noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">Project 3</div>
  </section>
  <section class="project4 noise-container">
    <div class="noise"></div>
    <div class="noise-underlay">Project 4</div>
  </section>
  <!-- <header class="">
    <h1 class="">Midka</h1>
    <p class="">A teen interested in programming, photography and music.</p>
  </header> -->
  <!-- <section class="flex flex-col gap-5">
    <header class="text-4xl font-bold"><h2>Latest Projects</h2></header>
    <div class="flex flex-wrap items-center justify-center gap-12">
      {
        projects.map((project) => (
          <Card
            title={project.data.title}
            description={project.data.description}
            publishedAt={project.data.publishDate}
            image={
              project.data.image ||
              `https://via.placeholder.com/385x200?text=${project.data.title}`
            }
            link={project.data.canonicalURL || `/projects/${project.slug}`}
          />
        ))
      }
    </div>
  </section> -->
</BaseLayout>

<style lang="scss">
  .main {
    --gap: 0.75rem;
    padding: 2rem 4rem 2rem 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  section {
    background-color: hsl(var(--clr-background) / 0.4) !important;
    box-shadow: 4px 4px 0px 0px #000000;
    border-radius: 0.5rem;
    border: 3px solid #000000;
    padding: 1rem;
  }

  .lastfm {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .about {
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .something {
    grid-row-start: 10;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .socials {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .project1 {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .project2 {
    grid-row-start: 9;
    grid-row-end: 17;
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .project3 {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 13;
  }

  .project4 {
    grid-row-start: 9;
    grid-row-end: 17;
    grid-column-start: 9;
    grid-column-end: 13;
  }
</style>
